@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h1>Machine Details</h1>
<hr />
<h3>@Html.DisplayFor(model => model.MachineName)</h3>

@if(@Model.Engineers.Count == 0)
{
  <p>There are no Engineers licensed to repair this machine</p>
}
else
{
  <h4>Licensed Engineers:</h4>
  <ul>
    @foreach (var join in Model.Engineers)
    {
      <li>{@join.Engineer.LastName}, {@join.Engineer.FirstName}</li>
      @* @using (@Html.BeginForm("DeleteEngineer", "Machines"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Delete" />
      } *@
    }
  </ul>
}

@* <p>"Add a Licensed Engineer"</p> *@
@* <p>"Edit this machine's details"</p> *@
@* <p>"Delete this machine"</p> *@