@{
  Layout = "_Layout";
}

@using Factory.Models;
<br>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <h2 class="card-header">Engineers:</h2>
      @{
        List<Engineer>engineersList = ViewBag.Engineers;
        @if (engineersList.Count() == 0)
        {
          <h3>No engineers have been added</h3>
        }
        @foreach (Engineer engineer in ViewBag.Engineers)
        {
          <ul class="list-group list-group-flush">
            <li class="list-group-item">@Html.ActionLink($"{engineer.FullName}", "Details", "Engineers", new { id = engineer.EngineerId})</li>
          </ul>
        }
      }
    </div>
    <br>
    <h3>@Html.ActionLink("View Engineers", "Index", "Engineers", null, new { @class="btn btn-dark"})</h3> 
  </div>
  <div class="col-md-6">
    <div class="card">
      <h2 class="card-header">Machines:</h2>
      @{
        List<Machine> machineList = ViewBag.Machines;
        @if (machineList.Count() == 0)
        {
          <h3>No machines have been added</h3>
        }
        @foreach (Machine machine in ViewBag.Machines)
        {
          <ul class="list-group list-group-flush">
            <li class="list-group-item">@Html.ActionLink($"{machine.MachineName}", "Details", "Machine" , new { id = machine.MachineId })</li>
          </ul>
        }
      }
    </div>
    <br>
    <h3>@Html.ActionLink("View Machines", "Index", "Machines", null, new { @class="btn btn-dark"})</h3>
  </div>
</div>




